<h2>Cadastrar reserva</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="nome" class="form-label">CNPJ</label>
        {{ form.cnpj }}
    </div>
    <div>
        <label for="nome" class="form-label">Nome da empresa</label>
        {{ form.nome }}
    </div>
    <div>
        <label for="nome" class="form-label">Categoria</label>
        {{ form.categoria_empresa }}
    </div>
    <div>
        <label for="nome" class="form-label">Stand</label>
        {{ form.stand }}
    </div>
    <div>
        <label for="nome" class="form-label">Status</label>
        {{ form.quitado }}
    </div>
    <button type="submit">Cadastrar Reserva</button>
</form>