{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Listagem de Reservas</h2>

            <form method="GET" action="" class="mb-4">
                <div class="input-group">
                    <input type="text" name="nome" class="form-control" placeholder="Pesquisar">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>

            <ul class="list-group">
                {% for reserva in reservas %}
                <li class="list-group-item">
                    <h4 class="mb-3">Nome da Empresa: {{ reserva.nome }}</h4>
                    <p><strong>CNPJ:</strong> {{ reserva.cnpj }}</p>
                    <p><strong>Reservado:</strong> {{ reserva.quitado }} | <strong>Valor da Reserva:</strong> <span>R$ </span>{{reserva.stand.valor}} | <strong>Data da Reserva:</strong> {{ reserva.data }}</p>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'detalhes' id=reserva.id %}" class="btn btn-info btn-sm mr-2">Detalhes</a>
                        <a href="{% url 'excluir' id=reserva.id %}" class="btn btn-danger btn-sm mr-2">Excluir</a>
                        <a href="{% url 'atualizar' id=reserva.id %}" class="btn btn-warning btn-sm">Atualizar</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
